In [2]:
import pandas as pd

In [3]:
titanic_df = pd.read_csv('/content/drive/MyDrive/Titanic-Dataset.csv')

In [4]:
#3.1
#Q1

#load data to dataframe
titanic_df.head()
titanic_df.tail()
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
#Problem1(Sorting)

#Qn1
#Create dataframe fare
fare = titanic_df[['Fare']]

#print its head
print(fare.head())

      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

In [6]:
#Qn2
class_age = titanic_df[['Pclass', 'Age']]
print(class_age.head())

   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

In [7]:
#Qn3
survived_gender = titanic_df[['Survived', 'Sex']]
print(survived_gender.head())

   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

In [ ]:
#Problem2(Subsetting)
#Qn1
fare_gt_100 = titanic_df[titanic_df['Fare']>100]
print(fare_gt_100)

In [ ]:
#Qn2
first_class = titanic_df[titanic_df['Pclass']==1]
print(first_class)

In [ ]:
#Qn3
female_under_18 = titanic_df[(titanic_df['Age']<18) & (titanic_df['Sex']=='female')]
print(female_under_18)

In [ ]:
#(Subsetting by categorical variables)
#Qn1
embarked_c_or_s = titanic_df[(titanic_df['Embarked']=='C') | (titanic_df['Embarked']=='S')]
print(embarked_c_or_s)

In [ ]:
#Qn2
first_second_class = titanic_df[titanic_df['Pclass'].isin([1,2])]
print(first_second_class)

In [ ]:
#3.2
#Task1
#Qn1
titanic_df['Age'].fillna(titanic_df['Age'].mean(), inplace=True)
titanic_df['Fare_Per_Year'] = titanic_df['Fare']/titanic_df['Age']
titanic_df

In [ ]:

#Qn2
high_fare_age = titanic_df[titanic_df['Fare_Per_Year']>5]
high_fare_age

In [ ]:
#Qn3
high_fare_age_srt = titanic_df.sort_values(by='Fare_Per_Year', ascending=False)
high_fare_age_srt.head()

In [ ]:
#Qn4&5
result = high_fare_age_srt[['Name', 'Fare_Per_Year']]
print(result.head())

In [ ]:
#Task2
#Qn1
titanic_df['Pclass'].fillna(titanic_df['Pclass'].mode()[0], inplace=True)
titanic_df['Fare_Per_Class'] = titanic_df['Fare']/titanic_df['Pclass']
titanic_df

In [ ]:
#Qn2
adult_males = titanic_df[(titanic_df['Sex']=='male') & (titanic_df['Age']>=18)]
print(adult_males.head())

In [ ]:
#Qn3
adult_males_srt = titanic_df.sort_values(by='Fare_Per_Class', ascending=False)
print(adult_males_srt

In [ ]:
#Qn4&5
result = adult_males_srt[['Name', 'Age', 'Fare_Per_Class']]
print(result)

In [ ]:
#3.3
#Task1
#Qn1
total_fare = titanic_df['Fare'].sum()
print("The total fare paid across all passanger: ",total_fare)

In [ ]:
#Qn2
pclass1 = titanic_df[titanic_df['Pclass']==1]
total_fare_pclass1 = pclass1['Fare'].sum()
print(f"Total fare paid by first class passengers: {total_fare_pclass1}")

In [ ]:
#Qn3
#for plclass=2
pclass2 = titanic_df[titanic_df['Pclass']==2]
total_fare_pclass2 = pclass2['Fare'].sum()
print(f"Total fare paid by second class passengers: {total_fare_pclass2}")

#for pclass=3
pclass3 = titanic_df[titanic_df['Pclass']==3]
total_fare_pclass3 = pclass3['Fare'].sum()
print(f"Total fare paid by second class passengers: {total_fare_pclass3}")

In [ ]:
#Qn4
fare_totals = [total_fare_pclass1, total_fare_pclass2, total_fare_pclass3]
print(f"Total fare of each classes: {fare_totals}")

In [ ]:
#QN5
overall_total = titanic_df['Fare'].sum()

pclass1_proportion = total_fare_pclass1/overall_total
pclass2_proportion = total_fare_pclass2/overall_total
pclass3_proportion = total_fare_pclass3/overall_total

fare_proportion = [pclass1_proportion, pclass2_proportion, pclass3_proportion]
print(f"Proportion of fare revenue of each classes: {fare_proportion}")

In [ ]:
#Task2
#Qn1
def categorize_age(age):
    if age < 18:
        return 'child'
    elif age < 65:
        return 'adult'
    else:
        return 'senior'

titanic_df['age_group'] = titanic_df['Age'].apply(categorize_age)
(titanic_df[['Name', 'Age', 'age_group']])

In [ ]:
#Qn2
total_passenger = len(titanic_df)
print(f"The total number of passenger on the titanic is: {total_passenger}")

In [ ]:
#QN3
age_group_count = titanic_df['age_group'].value_counts()
print(age_group_count)

In [ ]:
#Qn4
age_group_proportion = age_group_count/total_passenger
print(f"Proportion of each age groups is:\n {age_group_proportion}")

In [ ]:
#Qn5
age_group_percentage = age_group_proportion*100
print(f"Poprtions in percentage:\n {age_group_percentage}")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')